<% include _layouts/header %>

<!-- CONTENT -->
<div id="page-content">
    <div class="error-page">
        <div class="in-error-page">
            <div class="in-in-error-page">
                <h1>404</h1>
                <p>
                    Ooops, Something Goes Wrong
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->

<% include _layouts/footer %>