<% include _layouts/header %>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="card-body">
                <!-- Form with validation -->
                <div class="col s12">
                    <div class="card-panel">
                        <h4 class="header2 center">Contact <span class="theme-secondary-color">Us</span></h4>
                        <p class="crad-text center">we are ready 24/5 hours to support.</p>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-account-circle prefix"></i>
                                        <input id="name" type="text" class="validate">
                                        <label for="first_name">Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-communication-email prefix"></i>
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input id="phone" type="text" class="validate">
                                        <label for="phone">Phone</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input id="mainsub" type="text" class="validate">
                                        <label for="subject">Subject Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-question-answer prefix"></i>
                                        <textarea id="text" class="materialize-textarea validate"
                                            length="120"></textarea>
                                        <label for="subject">Content</label>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn dark-blue waves-effect waves-light btn-block col s12"
                                                type="submit" name="action">Submit
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<% include _layouts/footer %>